<h1>Books</h1>
<div>
    <ol>
        <%
            var i = 0;
            while(i < results.length){
        %>
        <li><%=results[i].name%></li>
        <%
            i++;
            }
        %>
    </ol>
</div>
