<html>
    <body>
        GET<form action="/get">
            <p>id: <input type="text" name="id"></p>
            <p>pwd: <input type="password" name="pwd"></p>
            <p><button>submit</button></p>
        </form>
        POST<form action="/post" method="POST">
            <p>id: <input type="text" name="id"></p>
            <p>pwd: <input type="password" name="pwd"></p>
            <p><button>submit</button></p>
        </form>
    </body>
</html>